*
{
    padding: 0;
    margin: 0;
}

nav
{
    position: fixed;
    background-color: skyblue;
    height: 70px;
    width: 100%;
    z-index: 1;
}

.logo
{
    font-size: 25px;
    position: relative;
    left: 5%;
    color: white;
    font-weight: bold;
    line-height: 70px;
}

ul
{
    position: relative;
    float: right;
    margin-right: 20px;
}

ul li
{
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;
}

ul li a
{
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.signup:hover
{
    background-color:green !important;
}

.main_img
{
    width: 100%;
    height: 500px;
}

.section1
{
    padding-top: 70px;
    position: relative;
}

.img_text
{
    position: absolute;
    top: 20%;
    left: 30%;
    color: white;
    background-color: midnightblue;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 35px;
}

.col-md-4
{
    width: 100%;
    height: 300px;
}

.welcome_img
{
    width: 100%;
    height: 250px;
}

.container
{
    padding-top: 40px;
    

}

.col-md-4
{
    float: left;
}

.col-md-8
{
    flex:1;
    font-size: 15px;
}

.teacher
{
    width: 80%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.);
}
.courses
{
    width: 80%;
    height: 250px;
    border-radius: 20px;
}

.label_text
{
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 10px;
    
}

.input_deg
{
    width: 30%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid black;
    padding-left: 10px;
}

.adm_int
{
    padding-top: 10px;
}

.input_txt
{
    width: 30%;
    height: 120px;
    /* border-radius: 25px; */
    border: 1px solid black;
}

#submit
{
    position: relative;
    width: 15%;
    left: 5%;
}

footer{
    background-color: black;
    height: 70px;
    width: 100%;
}
.footer_txt
{
    text-align: center;
    color: white;
    top: 20%;
    position: relative;
}

.form_deg
{
    padding-top: 200px;
}

.label_deg
{
    display: inline-block;
    color: skyblue;
    width: 100px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}

.login_form
{
    background-color: black;
    width: 400px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.title_deg
{
    background-color: skyblue;
    color: white;
    text-align: center;
    font-weight: bold;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.body_deg
{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.alert-box {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    border-radius: 4px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.alert-box button {
    margin-left: 15px;
    border: none;
    background: transparent;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.alert-box button:hover {
    color: #ddd;
}
